/modules/app.admin/app.admin.web/.settings
/modules/core/spy.log
/modules/core/test-output
/modules/app.admin/app.admin.web/target
/modules/app.admin/app.admin.web/.gitignore
/modules/app.calendar/app.calendar.client/.settings
/modules/app.calendar/app.calendar.service/.settings
/modules/calendar-api/.settings
/modules/calendar-google/.settings
/modules/calendar-google/test-output
/modules/app.calendar/app.calendar.server/.settings
/modules/app.admin/.settings
/modules/common-testframework/.settings
/modules/common-utils/.settings
/modules/core-web/.settings
/modules/core-web/test-output
/modules/core/.settings
/modules/mw.parent/.settings
/modules/ofdb-api/.settings
/modules/ui-api/.settings
