/modules/app.admin/app.admin.web/.settings
/modules/core/spy.log
/modules/core/test-output
/modules/app.admin/app.admin.web/target
/modules/app.admin/app.admin.web/.gitignore
/modules/app.calendar/app.calendar.client/.settings
/modules/app.calendar/app.calendar.service/.settings
/modules/calendar-api/.settings
/modules/calendar-google/.settings
/modules/calendar-google/test-output
/modules/app.calendar/app.calendar.server/.settings
/modules/app.admin/.settings
/modules/common-testframework/.settings
/modules/common-utils/.settings
/modules/core-web/.settings
/modules/core-web/test-output
/modules/core/.settings
/modules/mw.parent/.settings
/modules/ofdb-api/.settings
/modules/ui-api/.settings
/modules/app.admin/app.admin.client/.settings
/modules/app.admin/app.admin.server/target
/modules/app.admin/app.admin.server/test-output
/modules/app.rest/.settings
.settings
test-output
/modules/ofdb-api/target
/modules/ofdb-impl/.classpath
/modules/ofdb-impl/.gitignore
/modules/ofdb-impl/.project
/modules/core/.classpath
/modules/core/.gitignore
/modules/core/.project
/modules/core/.springBeans
/modules/ui.web.base.angularjs/*.classpath
/modules/ui.web.comp.slickgrid/*.classpath
/modules/ui.web.base.angularjs/*.gitignore
/modules/ui.web.comp.slickgrid/*.gitignore
/modules/ui.web.base.angularjs/*.project
/modules/ui.web.comp.slickgrid/*.project
/modules/rest/_rest.simpl/.classpath
/modules/rest/_rest.simpl/.project
/modules/rest/rest.api/.classpath
/modules/rest/rest.api/.project
/modules/rest/rest.ofdb.impl/.classpath
/modules/rest/rest.ofdb.impl/.project
/modules/ofdb-impl/spy.log
/modules/app.calendar/app.calendar.admin/.classpath
/modules/app.calendar/app.calendar.admin/.gitignore
/modules/app.calendar/app.calendar.admin/.project
