<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="suite" verbose="1">
   <test name="ofdbTest">
   <!-- 
      <packages>
         <package name="de.zeb.control.components.datasubspace.bl.access.internal.test.*" />
      </packages>
       -->
      <classes>
      	
      </classes>
      
   </test>
</suite>