				
						<form ng-submit="insertCtrl.submit()" name="myForm" class="form-horizontal" ng-controller="EntityInsertController as insertCtrl" id="controllerNewScope">
				
							<div ng-repeat=" uiInputConfig in appConfig.uiInputConfigs" >
								<div class="row">
									<div ng-if="uiInputConfig.mapped">
									  <div ng-if="uiInputConfig.visible">
									  
										<div ng-if="uiInputConfig.listOfValues">
										
											<div ng-if="uiInputConfig.enum">
												<div class="form-group col-md-12">
													<label class="col-md-2 control-lable" for="mwInId-{{uiInputConfig.propName}}">{{ uiInputConfig.columnTitle }}</label>
													<div class="col-md-7">
													<select ng-model="entity[uiInputConfig.propName]" ng-options="y for (x, y) in uiInputConfig.listOfValues">
													</select>
													</div>
												</div>
											</div>
											<div ng-if="!uiInputConfig.enum">
												<div class="form-group col-md-12">
													<label class="col-md-2 control-lable" for="mwInId-{{uiInputConfig.propName}}">{{ uiInputConfig.columnTitle }}</label>
													<div class="col-md-7">
													<select ng-model="entity[uiInputConfig.propName]" ng-options="y.name for (x, y) in uiInputConfig.listOfValues">
													</select>
													</div>
												</div>
											</div>
										</div>
										
									    <div ng-if="!uiInputConfig.listOfValues">
										<div class="form-group col-md-12">
											<label class="col-md-2 control-lable" for="mwInId-{{uiInputConfig.propName}}">{{ uiInputConfig.columnTitle }}</label>
											<div class="col-md-7">
											  <input type="text" ng-model="entity[uiInputConfig.propName]" name="mwInName{{uiInputConfig.propName}}" 
											  	class="entity form-control input-sm" placeholder="{{uiInputConfig.columnTitle}}" 
											  	ng-required="{{!uiInputConfig.nullable}}" 
											  	ng-minlength="{{uiInputConfig.minlength}}" ng-maxlength="{{uiInputConfig.maxlength}}" 
											  	id="mwInId-{{uiInputConfig.propName}}" title="{{uiInputConfig.diagnose}}" 
											  	ng-blur="visitedmwInName[uiInputConfig.propName] = true" ng-click="visitedmwInName[uiInputConfig.propName] = false" />
											  
											  <div class="has-error" ng-show="myForm.$dirty && visitedmwInName[uiInputConfig.propName]">
												  <span ng-show="myForm.mwInName{{uiInputConfig.propName}}.$error.required">This is a required field </span>
												  <span ng-show="myForm.mwInName{{uiInputConfig.propName}}.$error.minlength">Minimum length required is {{uiInputConfig.minlength}}</span>
												  
											  </div>
											</div>
											<div class="markRequired" title="input required" ng-show="{{!uiInputConfig.nullable}}">*</div>
										</div>
										</div>
										
									  </div> <!-- not visible -->
									</div>
								</div>
							</div>
						    
							<div ng-if="appConfig.uiInputConfigs.length > 0">
							<div class="row">
								<div class="form-actions floatRight">
									<input type="submit" value="Add" class="btn btn-primary btn-sm" ng-disabled="myForm.$invalid">
									<button type="button" ng-click="ctrl.reset()" class="btn btn-warning btn-sm" ng-disabled="myForm.$pristine">Reset Form</button>
								</div>
							</div>
							</div>
						</form>
				
						<div ng-if="appConfig.uiInputConfigs.length > 0">
						  config properties<br>
						  <input type="checkbox" ng-model="appConfig.showNotMappedColumns" ng-change="reloadGrid()" id="ng-show-notMapped-Columns" />
						  Show not mapped columns<br>
						</div>
						<br/>

						<div id="innerGrid" style="width:100%;height:300px;" >
								Loading ...
								  
						</div> 